<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title><%= metadata.name %> (<%= metadata.guild.name %>)</title>
  <link href="<%= server.link %>"/>
  <updated>2022-10-07T20:29:23Z</updated>
  <author>
    <name>Discord Web Mirror</name>
  </author>
  <id><%= metadata.id %></id>
  <% if (metadata.guild.icon_url_local) { %>
  <icon><%= metadata.guild.icon_url_local %></icon>
  <% } %>

<% for (post of posts) { %>
  <entry>
    <title><%= post.content %></title>
    
    <id><%= post.id %></id>
    <updated><%= post.iso_timestamp %></updated>
    <content type="html"><![CDATA[
<%- post.html_content %>

<% if (post.attachments) {
 for (attachment of post.attachments) { %>
    <% if (attachment.content_type.startsWith("image/")) { %>
      <img src="<%= attachment.proxy_url_local %>"/>
    <% } %>
<% } %>
<% } %>

<% if (post.embeds) { %>
  <% for (const embed of post.embeds) { %>
    <hr/>
    <% if (embed.url) { %>
      <a href="<%= embed.url %>">
    <% } %>
    <% if (embed.title) { %><h3><%= embed.title %></h3><% } %>
    <% if (embed.url) { %>
      </a>
    <% } %>

    <% if (embed.author?.name) { %> <p><small><i><%= embed.author.name %></i></small></p> <% } %>
    <% if (embed.footer?.text) { %> <p><small><i><%= embed.footer.text %></i></small></p> <% } %>
    <% if (embed.html_description) { %><%- embed.html_description %><% } %>
    <% if (embed.images) { %>
      <% for (const embedImage of embed.images) { %>
        <img src="<%= embedImage.proxy_url_local %>" />
      <% } %>
    <% } %>
    <% if (embed.thumbnail) { %>
      <img src="<%= embed.thumbnail.proxy_url_local %>" />
    <% } %>
  <% } %>
<% } %>
    ]]></content>
  </entry>

<% } %>

</feed>
