<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  
  <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96">
  <!--
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <title>Discord Web Mirror</title>
  -->

  <style>
	 body {
		margin: 0;
		font-family: "Verdana", sans-serif;
		font-size: 12px;
	}
	.version {
		font-size: 10px;
		text-align: center;
		margin-top: 16px;
	}
	.content {
		margin: 0 auto;
		max-width: 600px;
	}

	.p-margin-0 p {
		margin: 0;
	}

	.message {
		background-color: #f5f5f5;
		margin-bottom: 20px;
	}

	img {
		max-width: 200px;
	}

	.message-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: darkgray;=
	}

	.message-header-channel {
		font-weight: bold;
	}

	.embed {
		max-width: 350px;
		margin-bottom: 16px;
		background-color: #f0f0f0;
	}

	.embed-header-container {
		background-color: #d1d1d1;
	}

	.embed-footer {
		background-color: #d1d1d1;
	}

	.embed-header-title {
		font-weight: bold;
	}

	header {
		background-color: lightgray;
		display: flex;
		justify-content: space-between;
	}
	header p {
		margin: 0;
	}
	header ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
	header ul li {
		list-style: none;
		margin: 0 6px;
	}
	header ul li:first-child {
		margin-left: 0;
	}
	header ul li:last-child {
		margin-right: 0;
	}
  </style>
</head>
<body>
	<div class="content">
		<!-- <header>
			<h1>Discord Web Mirror</h1>
			<p>Create RSS mirrors of Discord channels, complete with embed and attachment support <i><a href="https://github.com/harrego/discord-web-mirror">[github project]</a></i></p>
		</header> -->

		<header>
			<p><b>Discord Web Mirror</b></p>
			<div class="links">
				<ul>
					<li><a href="https://github.com/harrego/discord-web-mirror">GitHub</a></li>
					<li><a href="<%= config.server.url %>/channels">Channels</a></li>
				</ul>
			</div>
		</header>

		<div class="description">
			<p>Web mirror of the Discord channel <i>#<%= metadata.name %></i> in <i><%= metadata.guild.name %></i>. <a href="<%= config.server.url %>/channels/<%= metadata.id %>/feed">[rss feed]</a></p>
		</div>
		<% for (post of posts) { %>
		<div class="messages">
			<div class="message">
				<div class="message-header p-margin-0">
					<p class="message-header-channel">#<%= metadata.name %> (<%= metadata.guild.name %>)</p>
					<p class="message-header-date"><% if (post.edited) { %><i>(edited)</i><% } %><%= post.human_timestamp %></p>
				</div>
				<div class="message-content">
					<p><%- post.html_content %></p>

					<% if (post.embeds) { %>
						<% for (const embed of post.embeds) { %>
						<div class="embed">
							<div class="embed-header-container">

								<div class="embed-header p-margin-0">
									<% if (embed.title) { %>
									<% if (embed.url) { %>
										<a href="<%= embed.url %>">
									  <% } %>
									<p class="embed-header-title"><%= embed.title %></p>
									<% if (embed.url) { %>
									</a>
									  <% } %>
									<% } %>
								</div>

								<% if (embed.author?.name) { %>
								<div class="embed-author p-margin-0">
									<!-- <img width="26" height="26" src="x.png"/> -->
									<p><%= embed.author?.name %></p>
								</div>
								<% } %>
								<!-- <div class="embed-title p-margin-0">
									<p><a href="#">Example - @example</a></p>
								</div> -->
							</div>
							
							<% if (embed.html_description) { %>
							<div class="embed-content">
								<%- embed.html_description %>
							</div>
							<% } %>

							<% if (embed.images) { %>
								<div class="embed-images">
								
									<% for (const embedImage of embed.images) { %>
									  <img src="<%= embedImage.proxy_url_local %>" />
									<% } %>

								<!-- <img width="190" height="190" src="/static/external/0e6e19bdb785b12072e04d04b97f43a0/maxresdefault.jpg"/> -->
								<!-- <img width="190" height="190" src="x.png"/> -->
								<!-- <img width="190" height="190" src="x.png"/> -->
								<!-- <img width="190" height="190" src="x.png"/> -->
								</div>
							<% } %>

							<% if (embed.footer?.text) { %>
							<div class="embed-footer p-margin-0">
								<!-- <img width="20" height="20" src="x.png"/> -->
								<p><%= embed.footer?.text %></p>
							</div>
							<% } %>

						</div>
						<% } %>
					<% } %>

					<% if (post.attachments) {
						for (attachment of post.attachments) { %>
						   <% if (attachment.content_type.startsWith("image/")) { %>
							 <a href="<%= attachment.resolved_url_local %>"><img src="<%= attachment.resolved_url_local %>"/></a>
						   <% } else { %>
							 <p><a href="<%= attachment.resolved_url_local %>">[<%= attachment.filename %>]</a></p>
						   <% } %>
					   <% } %>
					<% } %>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</body>
</html>