<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Discord Web Mirror</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--   <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16"> -->
      <!--   <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32"> -->
      <!--   <link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96"> -->
        <meta property="og:title" content="Discord Web Mirror" />
      <!--   <meta property="og:description" content="" /> -->
        <meta property="og:url" content="<%= config.server.url %>/channels" />
        <style>
            body {
                margin: 0;
                font-family: "Verdana", sans-serif;
                font-size: 12px;
            }
            .version {
                font-size: 10px;
                text-align: center;
                margin-top: 16px;
            }
            .content {
                margin: 0 auto;
                max-width: 600px;
            }

            .channels-table {
                width: 100%;
                border-collapse: collapse;
            }
            .channels-table th {
                text-align: left;
            }
            .channels-table tr:nth-child(1) {
                background-color: darkgray;
            }
            .channels-table tr {
                margin: 0;
            }
            .channels-table tr:nth-child(odd) td {
                background-color: lightgray;
            }

            header h1 {
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <header>
                <h1>Discord Web Mirror</h1>
                <p>Create RSS mirrors of Discord channels, complete with embed and attachment support <i><a href="https://github.com/harrego/discord-web-mirror">[github project]</a></i></p>
            </header>
            <div class="description">
                <p>This instance has <i><%= metadata.humanChannelsCount %></i> configured.</p>
            </div>
            <table class="channels-table">
                <tr>
                    <th>Channel</th>
                    <th>Server Name</th>
                    <th>Last Updated &#8595;</th>
                </tr>
                <% for (const channel of channels) { %>
                <tr id="tr-channel-<%= channel.id %>">
                    <td><a href="<%= config.server.url %>/channels/<%= channel.id %>"><%= channel.name %></a></td>
                    <td><%= channel.guild.name %></td>
                    <td class="date-col"><%= channel.humanLastUpdated %></td>
                </tr>
                <% } %>
            </table>
            <!-- <hr/> -->
            <p class="version"><%= metadata.app.name %> / <%= metadata.app.version %></p>
        </div>
        <script>
            const months = ["Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
            function customDateFormat(date) {
                var pm = date.getHours() > 12
                var hours = date.getHours() % 12
                return `${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()} at ${hours}:${String(date.getMinutes()).padStart(2, "0")} ${pm ? "pm" : "am"}`
            }

            const channels = <%- JSON.stringify(metadata.channelsLastUpdated) %>
            for (const channel of channels) {
                if (channel.lastUpdated) {
                    const dateColumn = document.querySelector(`#tr-channel-${channel.id} .date-col`)
                    if (dateColumn) {
                        const channelDate = new Date(channel.lastUpdated * 1000)
                        dateColumn.innerHTML = customDateFormat(channelDate)
                    }
                }
            }
        </script>
    </body>
</html>